.map{
    overflow: hidden;
    height: 0;
    padding-bottom: 30%;
    position: relative;
}
.map iframe{
    // border: 0;
    height: 50vh;
    width: 100vh;
    // position: absolute;
}
.con1{
    background-color: #FEC734;
    display: flex;
    align-items: center;
flex-direction: row;
height: 80vh;
width: 100%;
padding: 10rem;
justify-content: space-between;

}
.con2{
    display: flex;
    font-size: large;
    
    
    
    
}
.ro{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
input[type=submit]{
    margin: 4px 2px;
    cursor: pointer;
    padding: 16px 32px;
    font-weight: 600;
    color: white;
    background-color: black;
    margin-left: 2rem;
    
}

  input[type=text] {
    border: none;
    border-bottom: 3px solid black;
    background-color: #FEC734;
    width: 35%;
  }
 
  input[type=email] {
    border: none;
    border-bottom: 3px solid black;
    background-color: #FEC734;
    width: 90%;
  }
  
  .me input[type=text] {
    border: none;
    border-bottom: 3px solid black;
    background-color: #FEC734;
    width: 86%;
  }
  .heading{
    background-color: #FEC734;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 50px;
height: 9vh;padding-top: 100px;
  }